:root {

    --base: #ffc600;
    --spacing: 5px;
    --blur: 0px;
}

img {
    height: 550px;
    width: 350px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    
    

}

.h1 {
    color: var(--base);
    
}

body {
    text-align: center;
}

body {
    background: #193549;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}